body{
    background: #352f5b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #423a6f;
   display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
}
span{
    max-width: 90%;
    white-space: normal;
}
.delete{
    cursor: pointer;
}
.tst{
    display: inline-block;
    margin-top: 13px;
    padding-left: 50px;
}

